@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&family=Roboto+Slab:wght@400;500;600;700&display=swap');

@import "tailwindcss";

@theme {
  --color-brand-primary: #0A192F;
  --color-brand-secondary: #64748b;
  --color-brand-accent: #16a34a;
  --color-brand-surface: #000000;

  /* Tipografías del Sistema */
  --font-sans: 'IBM Plex Sans', ui-sans-serif, system-ui, sans-serif;
  --font-titulos: 'Roboto Slab', ui-serif, Georgia, serif;

  --breakpoint-xs: 400px;

  --animate-bounce-subtle: bounce-subtle 2s infinite;

  @keyframes bounce-subtle {
    0%,
    100% {
      transform: translateY(-5%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }

    50% {
      transform: translateY(0);
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }

  @keyframes shimmer {
    from {
      transform: translateX(-100%);
    }

    to {
      transform: translateX(100%);
    }
  }

  --animate-fade-in-down: fade-in-down 0.3s ease-out;
  --animate-marquee: marquee 30s linear infinite;
  --animate-marquee-reverse: marquee-reverse 30s linear infinite;

  @keyframes fade-in-down {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes marquee {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-50%);
    }
  }

  @keyframes marquee-reverse {
    0% {
      transform: translateX(-50%);
    }

    100% {
      transform: translateX(0);
    }
  }
}


/* Creamos la clase estricta para los títulos */
@layer utilities {
  .fuente-titulos {
    font-family: var(--font-titulos);
  }
}